<!-- core/templates/registration/login.html -->

{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
