<!-- templates/core/product_list.html -->
{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Products</h2>
    <a href="{% url 'product-create' %}" class="btn btn-primary mb-3">Add Product</a>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{% url 'product-update' product.id %}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="{% url 'product-delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% comment %} 
{% extends "base_generic.html" %}

{% block content %}
<h2>Products</h2>
<a href="{% url 'product-create' %}" class="btn btn-primary">Add Product</a>
  <ul class="list-group">
    {% for product in object_list %}
    <li class="list-group-item list-group-item-secondary">
      <a href="{% url 'product-detail' product.id %}">{{ product.name }} - {{ product.description }}</a>
      <a href="{% url 'product-update' product.id %}" class="btn btn-secondary btn-sm">Edit</a>
      <a href="{% url 'product-delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
  </li>
    {% endfor %}
  </ul>
{% endblock %} {% endcomment %}
